::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #94a3b8;
  opacity: 1; /* Firefox */
}
.input {
  background-color: #1e293b;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  color: #94a3b8;
  width: 300px;
  font-size: 0.5rem;
}
.button {
  position: absolute;
  aspect-ratio: 1;
  height: 80%;
  right: 3%;
  top: 10%;
  font-size: 0.8rem;
}
.wrapper {
  width: max-content;
  position: relative;
  max-width: 100%;
}
