.table {
  color: #94a3b8;
  background-color: #1e293b;
  border-collapse: collapse;
  border-radius: 1rem;
}
.table td,
th {
  padding: 1rem;
  border: 2px solid #94a3b8;
}
.table tbody tr {
  text-align: center;
}
.table td {
  border: 2px solid #94a3b8;
}
.table th {
  font-weight: 600;
}
.table tr {
  text-align: center;
}
.table-header {
  font-size: 2rem;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.users-dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 793px;
}
.dashboard-content {
  display: flex;
  justify-content: center;
}
