.alert-position {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  transition: ease 0.2s;
}
.alert-container {
  background-color: #0f172a;
  width: 250px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
}

.alert-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0.8rem;
}

.x {
  margin-right: 0.8rem;
  margin-top: 0.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
